<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.hellolady">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.RecyclerViewDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".demo.Service2Activity"
            android:label="@string/title_activity_service2"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.Service3Activity"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service android:name=".demo.ServiceDemo"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".demo.TimerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.Recycler.RecyclerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.DrawerLayoutDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.MenuSildeDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.TounchDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.LauncherActivity"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.PhotoView.SimpleSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.PhotoView.ViewPagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.PhotoView.RotationSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".demo.PhotoView.PicassoSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.MeiNv.Main3Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".demo.MeiNv.ImageDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".demo.Loading.LoadingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
    </application>

</manifest>
